# Resume Extraction Project

This project takes open data of resumes written by many candidates and extracts informations.

In [110]:


with open(r'data/new_resumes.json', encoding='utf8') as f:
    
    data_file= f.read()

## Approach

The approach here is to take as target the highlighted information under the "text" part for each instance. 


Below is the data cleaning process to extract this information using the regular expressions library.

In [111]:
import re


new_data = data_file.split('}]}]}')
informations_candidates = []

for data in new_data:
    #information = re.findall(r'"text":([^\"])"}',data)
    data = data.replace(r'\n', ' ')
    information = re.findall(r'"text":"([^"]+)"}',data)
    # A set is taken to avoid repetition
    informations_candidates.append(set(information))

In [112]:
import pandas as pd

df = pd.DataFrame({'Text': new_data, 'Information extracted': informations_candidates})

In [113]:
df.head()

,Text,Information extracted
0,"{""content"": ""Govardhana K\nSenior Software Eng...","{Associate Consultant, B.E in Computer Science..."
1,"\n{""content"": ""Harini Komaravelli\nTest Analys...","{6 Yrs, Test Analyst, B.Sc. in Computer Scienc..."
2,"\n{""content"": ""Hartej Kathuria\nData Analyst I...","{2018, indeed.com/r/Hartej-Kathuria/04181c5962..."
3,"\n{""content"": ""Ijas Nizamuddin\nAssociate Cons...","{University College Of Engineering, Bachelor o..."
4,"\n{""content"": ""Imgeeyaul Ansari\njava develope...","{Pune, 2016, Application Developer, JAVA (1 y..."